body {
    background-color: #f4f7f6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    background-color: #003366; /* Azul institucional */
}
.footer-custom {
    background-color: #002244;
    color: white;
    padding: 1.5rem 0;
    margin-top: auto;
}
.content-wrapper {
    flex: 1 0 auto;
}