{% extends "base.html" %}

{% block title %}Acerca de - UF{% endblock %}

{% block content %}
<div class="card shadow border-0">
    <div class="card-header bg-secondary text-white">
        <h4 class="mb-0">Acerca del Departamento</h4>
    </div>
    <div class="card-body p-4">
        <h5 class="card-title">Bienestar Estudiantil y Admisiones</h5>
        <p class="card-text mt-3">Nuestro departamento se encarga de brindar asesoría integral a los maestrantes, asegurando un proceso de admisión fluido y soporte continuo durante su trayectoria académica.</p>
    </div>
</div>
{% endblock %}