{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-white border rounded-3 shadow-sm">
    <h1 class="display-5 fw-bold text-primary">Sistema de Gestión Académica y Bienestar</h1>
    <h2 class="fs-4 text-secondary">Universitario de Formación</h2>
    <p class="col-md-10 fs-5 mt-3">Plataforma central para la administración de posgrados y trámites de los estudiantes.</p>
    <hr class="my-4">
    <a href="/gestion" class="btn btn-primary btn-lg mt-2">Ir al Gestor de Trámites</a>
</div>
{% endblock %}